venv/

*.pyc

.idea/

migrations/
media/

temp/

.env 

__pycache__/

db.sqlite3

secure/

credentials.json
token.json
service-account-file.json
dumpdata.json

*.pyo
*.pyd
.vscode/

*.log

.DS_Store






 









