venv/

*.pyc

.idea/

migrations/
media/

temp/

logs/

secure/
secure_gmail/

db.sqlite3 

.env 

__pycache__/

*.pyo
*.pyd
.vscode/

*.log

.DS_Store






 









