aiohttp==3.9.0
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.2.0
boto==2.49.0
boto3==1.29.6
botocore==1.32.6
cachetools==5.3.2
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.0
cryptography==41.0.5
defusedxml==0.7.1
Deprecated==1.2.14
Django==4.2.7
django-admin-honeypot==1.1.0
django-admin-rangefilter==0.11.2
django-allauth==0.58.2
django-appconf==1.0.6
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-compressor==4.4
django-cors-headers==4.3.1
django-crispy-forms==2.0
django-defender==0.9.7
django-htmlmin==0.11.0
django-paypal==2.0
django-redis==5.4.0
django-storages==1.14.2
django-storages-redux==1.3.3
django-timezone-field==6.1.0
docutils==0.20.1
frozenlist==1.4.0
google-api-core==2.14.0
google-api-python-client==2.108.0
google-auth==2.25.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.61.0
gunicorn==21.2.0
html5lib==1.1
httplib2==0.22.0
idna==3.6
jmespath==1.0.1
kombu==5.3.4
lxml==4.9.3
multidict==6.0.4
oauthlib==3.2.2
packaging==23.2
paypalrestsdk==1.13.3
pipdeptree==2.13.1
prompt-toolkit==3.0.41
protobuf==4.25.1
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
PyJWT==2.8.0
pymemcache==4.0.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pypng==0.20220715.0
python-crontab==3.0.0
python-dateutil==2.8.2
python-decouple==3.8
python-memcached==1.59
python3-openid==3.2.0
pytz==2023.3.post1
rcssmin==1.1.1
redis==5.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rjsmin==1.2.1
rsa==4.9
s3transfer==0.7.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
suit==2.0.2
toml==0.10.2
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
vine==5.1.0
wcwidth==0.2.12
webencodings==0.5.1
whitenoise==6.6.0
wrapt==1.16.0
yarl==1.9.3
