.star-rating {
    white-space: nowrap;
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 20px;
    height: 20px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}
.star-rating span {
    display: inline-block;                
}

.gold-star {
    color: gold !important;
}
.grey-star {
    color: #c5c5c5; 
}
.low {
    display: flex; 
    align-items: center; 
}

.low > * {
    margin-right: 30px; 
}
.footer small {
    font-size: 12px; 
}

@media (max-width: 768px) {
    #side-div {
        order: 1;
    }
    #main-div {
        order: 2;
    }
}



