{% extends 'basecamp/easygo_base.html' %}
{% block content %}

	<!-- Form for email dispatch -->
 	<section class="container pt-5 pb-5 px-3" style="margin-top: 5rem;">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
				<div class="card shadow-lg">
				<form method="post"
					enctype="multipart/form-data"
					action="/email_dispatch_detail/"
					id="booking-form"
					class="card-body needs-validation p-4 m-3">

					{% csrf_token %}
					{# <input type="text" name="phone_verify" value="" style="display:none !important" tabindex="-1" autocomplete="off"> #}

					<div class="card text-white bg-secondary" style="padding: 2.5rem 3rem;">

						<!-- Email -->
						<div class="mb-5 pb-3">
							<label class="form-label mb-3" for="email">
								Email address <sup class="text-danger ms-1">*</sup>
							</label>
							<input class="form-control"
								type="email"
								placeholder="j.doe@example.com"
								required
								name="email"
								id="email">
							<div class="invalid-feedback">
								Please enter a valid email address!
							</div>
						</div>

						<!-- Select Option -->
						<div class="mb-5 pb-3">
							<label class="form-label mb-3" for="selected_option">Select an Option:</label>
							<select class="form-select" name="selected_option" id="selected_option" required>
								<option disabled selected value="">Select your option...</option>
								<option value="Gratitude For Payment">Gratitude For Payment</option>
								<option value="Payment Confirmed">Payment Confirmed</option>
								<option value="Payment Method">Payment Method</option>
								<option value="PayPal Assistance">PayPal Assistance</option>
								<option value="Meeting Point Inquiry">Meeting Point Inquiry</option>
								<option value="Pickup Notice for Today">Pickup Notice for Today</option>
								<option value="Airport Pickup Guide">Airport Pickup Guide</option>
								<option value="Earlier Pickup Requested for Departure">Earlier Pickup Requested for Departure</option>
								<option value="Later Pickup Requested for Departure">Later Pickup Requested for Departure</option>
								<option value="Early Arrival Notification">Early Arrival Notification</option>
								<option value="Arrival Later Than Scheduled">Arrival Later Than Scheduled</option>
								<option value="Notice of Delay">Notice of Delay</option>
								<option value="Adjusted Pickup Time">Adjusted Pickup Time</option>
								<option value="Apology for oversight">Apology for oversight</option>
								<option value="Cancellation by Client">Cancellation by Client</option>
								<option value="Cancellation of Booking">Cancellation of Booking</option>
								<option value="Apologies Cancellation of Booking">Apologies Cancellation of Booking</option>
								<option value="Payment in Advance Required">Payment in Advance Required</option>
								<option value="Arrival Pickup Arrangement Without Payment">Arrival Pickup Arrangement Without Payment</option>
								<option value="Further details for booking">Further details for booking</option>
								<option value="Further details for booked">Further details for booked</option>
								<option value="Inquiry for driver contact">Inquiry for driver contact</option>
								<option value="Shared Ride (inquiry) Discount Offer">Shared Ride (inquiry) Discount Offer</option>
								<option value="Shared Ride (booking) Discount Offer">Shared Ride (booking) Discount Offer</option>
								<option value="Payment discrepancy">Payment discrepancy</option>
								<option value="Special promotion">Special promotion</option>
								<option value="Booking delay">Booking delay</option>
								<option value="Booking delay 1">Booking delay 1</option>
							</select>
						</div>

						<!-- Payment Method (RADIO) -->
						<div class="mb-5 pb-3">
							<p class="form-label mb-3">Payment cash/card method</p>
							<div class="form-check mt-3">
								<input class="form-check-input"
									type="radio"
									name="payment_method"
									value="cash"
									id="payment_method_cash">
								<label class="form-check-label fs-6" for="payment_method_cash">Cash</label>
							</div>

							<div class="form-check mt-3">
								<input class="form-check-input"
									type="radio"
									name="payment_method"
									value="card"
									id="payment_method_card">
								<label class="form-check-label fs-6" for="payment_method_card">Card</label>
							</div>
						</div>

						<!-- Payment Amount -->
						<div class="mb-5 pb-3">
							<label class="form-label mb-3" for="payment_amount">Amount paid</label>
							<input class="form-control"
								type="number"
								step="0.01"
								min="0"
								name="payment_amount"
								placeholder="Put only number"
								id="payment_amount">
							<small class="text-light">
								For Gratitude / Multi-payment only
							</small>
						</div>

						<!-- Adjusted Pickup Time -->
						<div class="mb-5 pb-3">
							<label class="form-label mb-3" for="adjusted_pickup_time">Adjusted pickup time</label>
							<input class="form-control"
								type="time"
								name="adjusted_pickup_time"
								id="adjusted_pickup_time">
							<small class="text-light">
								Use only when pickup time has changed
							</small>
						</div>		
						
						<!-- Remain First or Second Booking -->
						<div class="mb-0">
							<p class="form-label mb-3">Booking options to remain (체크 둘 다 안하면 모두 캔슬)</p>

							<div class="form-check mt-3">
								<input class="form-check-input" type="checkbox" name="remain_first_booking" id="remain_first_booking">
								<label class="form-check-label fs-6" for="remain_first_booking">
									Keep first booking (체크하면 두번째만 캔슬)
								</label>
							</div>

							<div class="form-check mt-3">
								<input class="form-check-input" type="checkbox" name="remain_return_booking" id="remain_return_booking">
								<label class="form-check-label fs-6" for="remain_return_booking">
									Keep second booking (체크하면 첫번째만 캔슬)
								</label>
							</div>
						</div>
					</div>

					<!-- Submit -->
					<div class="text-center mt-4 mb-2">
						<button class="btn btn-primary" type="submit" id="submitButton">
							Submit
						</button>
					</div>

					<div class="mt-3">
						<small>
							This site is protected by Cloudflare Turnstile to keep your data safe and secure
							<a href="https://www.cloudflare.com/privacypolicy/">Privacy Policy</a> and
							<a href="https://www.cloudflare.com/website-terms/">Terms of Service</a> apply.
						</small>
					</div>

				</form>
				</div>
		  </div>
	</div>
	</section>	
{% endblock %}
