{% if bank == 'anz' %}
<strong>Direct Bank Transfer</strong><br>
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Shuttle<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 012-266<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 798675364<br>
{% elif bank == 'nab' %}
<strong>Direct Bank Transfer</strong><br>
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Transfers<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 082-356<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 980980701<br>
{% elif bank == 'westpac' %}
<strong>Direct Bank Transfer</strong><br>
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Shuttle<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 032-090<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 325410<br>
{% elif bank == 'commbank' %}
<strong>Direct Bank Transfer</strong><br>
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Shuttle<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 062-140<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 11797346<br>
{% endif %}

<span style="color: #eb7828;">
  Please include your <strong>name & email address</strong> as the payment description and email the receipt after payment
</span>
<br>
