{% if bank == 'anz' %}
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Shuttle<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 798675364<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 012-266<br>
<br>
{% elif bank == 'nab' %}
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Transfers<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 980980701<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 082-356<br>
<br>
{% elif bank == 'westpac' %}
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Shuttle<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 325410<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 032-090<br>
<br>
{% elif bank == 'commbank' %}
&nbsp; • &nbsp;<strong>AC Name:</strong> EasyGo Airport Shuttle<br>
&nbsp; • &nbsp;<strong>Account Number:</strong> 11797346<br>
&nbsp; • &nbsp;<strong>BSB:</strong> 062-140<br>
<br>
{% endif %}

<small>
  <span style="color: #eb7828;">
    Please include your <strong>name & email address</strong> as the payment description and email the receipt after payment
  </span>
</small>
<br>
