.widget-nav .nav-link {
  margin-right: -1.5rem;
  margin-bottom: .75rem;
  margin-left: -1.5rem;
  padding: 0 1.5rem;
}
.widget-nav .nav-link.active { position: relative; }
.widget-nav .nav-link.active::before {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: .125rem; height: 100%;
  background-color: #fff;
  content: '';
}

.widget-title {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
}
.widget ul, .widget ol {
  margin: 0; padding: 0;
  list-style: none;
}
.widget ul > li, .widget ol > li {
  display: block;
  margin-bottom: .375rem;
}
.widget ul > li:last-child, .widget ol > li:last-child { margin-bottom: 0; }
.widget ul > li ul, .widget ul > li ol,
.widget ol > li ul, .widget ol > li ol {
  padding: .25rem 0 .25rem 1.375rem;
}
.widget ul > li ul > li, .widget ul > li ol > li,
.widget ol > li ul > li, .widget ol > li ol > li {
  position: relative;
  margin-bottom: 0;
  border-left: 2px solid #e9e9f2;
}
.widget ul > li ul > li > a, .widget ul > li ol > li > a,
.widget ol > li ul > li > a, .widget ol > li ol > li > a {
  padding-left: 1.125rem !important;
}
.widget ul > li ul > li > a::after, .widget ul > li ol > li > a::after,
.widget ol > li ul > li > a::after, .widget ol > li ol > li > a::after {
  position: absolute;
  left: 0; top: 50%;
  width: .75rem; height: 1px;
  background-color: #d6d6e7;
  content: '';
}

.widget-link {
  display: block;
  position: relative;
  padding: 0.25rem 0;
  transition: color 0.25s ease-in-out;
  color: #5a5b75;
  font-weight: 500;
  text-decoration: none;
}
.widget-link:hover { color: #766df4; text-decoration: none; }
.widget-link.active, .active > .widget-link {
  color: #766df4;
  pointer-events: none;
  cursor: default;
}
.widget-link > small, .widget-link > .small {
  display: inline-block;
  font-size: 75%;
  font-weight: normal;
}
.widget-link + ul > li > .widget-link { font-size: 87.5%; }

.widget-light .widget-title { color: #fff; }
.widget-light .widget-link { color: rgba(255,255,255,0.7); font-weight: normal; }
.widget-light .widget-link:hover { color: #fff; }
.widget-light .widget-link.active, .active > .widget-light .widget-link { color: #fff; }

.widget-categories .widget-link { padding-left: 1.25rem; }
.widget-categories .widget-link::before {
  position: absolute;
  top: .0625rem; left: -.1875rem;
  transition: transform .25s ease-in-out, opacity .15s ease-in-out;
  font-family: "around-icons";
  font-size: 1.25em;
  content: "";
  opacity: .5;
}
.widget-categories .widget-link:hover::before,
.widget-categories .widget-link.active::before { opacity: 1; }
.widget-categories .widget-link + ul > li > .widget-link { padding-left: inherit; }
.widget-categories .widget-link + ul > li > .widget-link::before { display: none; }
.widget-categories .active > .widget-link::before { opacity: 1; }
.widget-categories [data-bs-toggle='collapse'] { color: #766df4; }
.widget-categories [data-bs-toggle='collapse']::before { transform: rotate(90deg); opacity: 1; }
.widget-categories [data-bs-toggle='collapse'].collapsed { color: #5a5b75; }
.widget-categories [data-bs-toggle='collapse'].collapsed::before { transform: none; opacity: .5; }
.widget-categories [data-bs-toggle='collapse'].collapsed:hover { color: #766df4; }
.widget-categories [data-bs-toggle='collapse'].collapsed:hover::before { opacity: 1; }

.card:not(.border-0):not(.card-category) .badge-floating { left: -1px; }
.card:not(.border-0):not(.card-category) .badge-floating.badge-floating-end { right: -1px; }
.card-category { border: 0; }
.card-category .card-body { padding: 2.25rem 2.25rem; }
.card-category .card-title { margin-bottom: 0; }

.card-title { margin-bottom: .5rem; }
.card-text:last-child { margin-bottom: 0; }
