/* Core */
.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax .jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center !important;
  background-size: cover !important;
}

/* Disable parallax below breakpoint */
@media (max-width: 499.98px) {
  [data-disable-parallax-down='sm'] { transform: none !important; }
}
@media (max-width: 767.98px) {
  [data-disable-parallax-down='md'] { transform: none !important; }
}
@media (max-width: 991.98px) {
  [data-disable-parallax-down='lg'] { transform: none !important; }
}
@media (max-width: 1279.98px) {
  [data-disable-parallax-down='xl'] { transform: none !important; }
}
@media (max-width: 1399.98px) {
  [data-disable-parallax-down='xxl'] { transform: none !important; }
}

/* Disable parallax above breakpoint */
@media (min-width: 500px) {
  [data-disable-parallax-up='sm'] { transform: none !important; }
}
@media (min-width: 768px) {
  [data-disable-parallax-up='md'] { transform: none !important; }
}
@media (min-width: 992px) {
  [data-disable-parallax-up='lg'] { transform: none !important; }
}
@media (min-width: 1280px) {
  [data-disable-parallax-up='xl'] { transform: none !important; }
}
@media (min-width: 1400px) {
  [data-disable-parallax-up='xxl'] { transform: none !important; }
}

/* IE fallback */
_:-ms-lang(x), .jarallax .jarallax-img {
  margin: 0 !important;
  position: absolute !important;
  transform: none !important;
}

/* Parallax layer */
.parallax {
  position: relative;
}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parallax-layer > img {
  display: block;
  width: 100%;
}
