<!DOCTYPE html>
{% load static %}
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Lotto Number Generator</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'easygo_review/images/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="website, web design, web development, web builder, web pages, web developer, web dev, web freelancer" />
    <meta name="description" content="website, web design, web development, seo, online marketing to be done by our professional knowledge, skill and experience" />
    <link rel="stylesheet" href="{% static 'easygo_review/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'easygo_review/css/custom.min.css' %}">
    <script src="https://kit.fontawesome.com/e57bc5ae97.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'lottery/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-12">
                {% block content %}
                <!-- Content goes here -->
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'easygo_review/js/jquery.min.js' %}"></script>
    <script src="{% static 'easygo_review/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'easygo_review/js/custom.js' %}"></script>
    <script src="{% static 'easygo_review/js/popper.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/e57bc5ae97.js" crossorigin="anonymous"></script>
</body>
</html>