{% extends 'lottery/base.html' %}

{% block content %}
<style>
    body, html {
        height: 100%; /* 전체 높이를 100%로 설정 */
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; /* 컨테이너의 너비를 100%로 설정 */
        max-width: 500px; /* 최대 너비 설정 */
        padding: 50px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    h5 + .form-group {
        margin-top: 20px;
    }
</style>
<body>
    <div class="centered-form-container">
        <br>
        <h5 class="text-light text-center">Generate Numbers</h5>
        <br>
        <form class="login text-light text-center" method="POST" action="{% url 'lotto_result' %}">
            {% csrf_token %}
            <div class="form-group" style="padding-top: 20px;">
                <label for="total_numbers">Total numbers:</label>
                <input type="number" id="total_numbers" name="total_numbers" required class="form-control">
            </div>
            <div class="form-group">
                <label for="games">Total games:</label>
                <input type="number" id="games" name="games" required class="form-control">
            </div>
            <br>
            <button class="primaryAction btn btn-warning" type="submit">Generate Numbers</button>
            <br>
            <br>
        </form>
    </div>
</body>
{% endblock %}