<div class="card text-white bg-secondary p-4" id="return-cruise-fields">
  <h5 class="text-dark mb-3">🛳️ Return Trip Details</h5>

  <div class="mb-3 pb-1">
    <label class="form-label" id="label-ret-cruise-date">Return Pickup Date</label>
    <input class="form-control date-picker rounded" name="return_pickup_date" type="date" autocomplete="off" placeholder="Your trip date" aria-labelledby="label-ret-cruise-date">
    <div class="invalid-feedback">Please enter your pickup date!</div>
  </div>

  <div class="mb-3 pb-1">
    <label class="form-label" for="ret-cruise-pickup-time">Return Pickup Time</label>
    <input class="form-control" type="time" name="return_pickup_time" id="ret-cruise-pickup-time">
  </div>

  <div class="mb-3 pb-1">
    <label class="form-label" for="ret-cruise-start">Return Pickup Location</label>
    <input class="form-control" type="text" name="return_start_point" id="ret-cruise-start">
    <div class="invalid-feedback">Please enter your pickup location!</div>
  </div>

  <div class="mb-3 pb-1">
    <label class="form-label" for="ret-cruise-end">Return Drop-off Location</label>
    <input class="form-control" type="text" name="return_end_point" id="ret-cruise-end">
    <div class="invalid-feedback">Please enter your drop-off location!</div>
  </div>
</div>
