{% extends 'basecamp/base/easygo_base_error.html' %}

{% load static %}
{% static 'basecamp/photos/bg-pattern01.webp' as page_bg %}

{% include "basecamp/layouts/sub_navbar.html" %}

{% block content %}
  <body class="bg-dark text-light">
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.1">
        <div class="jarallax-img" style="background-image: url('{{ page_bg }}');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
              <h2 class="text-light pb-3"><span style="color: #eb7828">Thank you for your payment! </span></h2><br>          
              <h3 class="fs-lg text-light">Your payment has been processed successfully</h3><br><br>
              
              <p class="fs-lg">
                <a href="mailto:info@easygoshuttle.com.au" class="fs-sm" style="color: #589ae6">
                  <i class="ai-mail fs-xl text-muted me-2 pe-1"></i>
                  info@easygoshuttle.com.au
                </a>
              </p>
          </div>
        </div>
      </section>  
  </body>  
{% include "basecamp/layouts/sub_footer.html" %}

{% endblock %}
