/* 카드 이미지 영역 고정 및 이미지 잘라서 채우기 */
.card-img-top {
    position: relative;
    width: 100%;
    height: 220px;  
    overflow: hidden;
    border-radius: 0.25rem; 
}

.card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.tns-carousel-inner .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

@media (max-width: 900px) {
    .card-img-top {
        height: 180px;  /* 태블릿 높이 */
    }
}

@media (max-width: 540px) {
    .card-img-top {
        height: 140px;  /* 모바일 높이 */
    }
}
