{% extends 'basecamp/base/easygo_base.html' %}

{% block content %}
	<!-- Form for sending first email -->
	<section class="container pt-5 pb-5 px-3" style="margin-top: 5rem;">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
				<div class="card shadow-lg">
				<form method="post"
					enctype="multipart/form-data"
					action="/sending_email_first_detail/"
					id="booking-form"
					class="card-body needs-validation p-4 m-3">

					{% csrf_token %}

					<div class="card text-dark bg-secondary" style="padding: 2.5rem 3rem;">

						<h5 class="mb-3 pb-1">Single trip email</h5>

						<!-- Email -->
						<div class="mb-3 pb-1">
							<label class="form-label mb-3" for="email">
								Email address <sup class="text-danger ms-1">*</sup>
							</label>
							<input class="form-control"
								type="email"
								placeholder="j.doe@example.com"
								required
								name="email"
								id="email">
							<div class="invalid-feedback">
								Please enter a valid email address!
							</div>
						</div>

						<!-- Prepay -->
						<div class="mb-3 pb-1">
							<div class="form-check d-flex align-items-center gap-2">
								<input class="form-check-input" type="checkbox" name="prepay" value="True" id="prepay">
								<label class="form-check-label fs-6" for="prepay">It has to be prepaid</label>
								<div class="invalid-feedback">Please check this box for prepay</div>
							</div>
						</div>

						<!-- Cash -->
						<div class="mb-3 pb-1">
							<div class="form-check d-flex align-items-center gap-2">
								<input class="form-check-input" type="checkbox" name="cash" value="True" id="cash">
								<label class="form-check-label fs-6" for="cash">It has to be cash</label>
								<div class="invalid-feedback">Please check this box for cash</div>
							</div>
						</div>

						<!-- Index -->
						<div class="mb-0">
							<label class="form-label mb-3" for="index">
								Index <sup class="text-danger ms-1">*</sup>
							</label>
							<input class="form-control"
								type="number"
								placeholder="1"
								name="index"
								value="1"
								id="index">
							<div class="invalid-feedback">
								Please enter a valid index!
							</div>
						</div>

					</div>

					<!-- Submit -->
					<div class="text-center mt-4 mb-2">
						<button class="btn btn-primary" type="submit" id="submitButton">
							Submit
						</button>
					</div>

				</form>
				</div>
		  </div>
	</div>
	</section>
{% endblock %}
