{% extends 'basecamp/base/easygo_base_error.html' %}

{% block extra_css %}
<style>
.error-page{min-height:100vh;padding:20vh 0 10vh}
.error-message p{margin:32px 0;font:600 1.25rem/1.6 system-ui;color:#c1c2c5}
.error-message a {color: #9886eb; text-decoration: underline;}
.error-message a:hover {color: #6147d6;}
@media(max-width:767px){.error-page{padding-top:25vh}}
@media(max-width:480px){.error-page{padding-top:25vh}}
</style>
{% endblock %}

{% block content %}
    <!-- Page content-->
    <div class="container py-7 error-page">
      <lottie-player class="d-dark-mode-none mt-n5" src="assets/json/animation-404-light.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <lottie-player class="d-none d-dark-mode-block mt-n5" src="assets/json/animation-404-dark.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <div class="text-center col-md-8 px-3 mx-auto error-message">
          <h5 class="fs-lg pb-1 pb-md-0 mb-4 mb-md-5">
              <p>
                  We apologize for the inconvenience, but it appears that a system error has occurred.
                  Please do not worry, as this is an issue that can occasionally happen.
              </p>
              <p>
                  To resolve this promptly, please send us an email with the details of what you were trying to do. 
                  We will address the problem as quickly as possible and ensure everything is resolved. 
                  You will receive an email once the issue is fixed.
              </p>
              <p>
                  Email us at <a href="mailto:info@easygoshuttle.com.au">info@easygoshuttle.com.au</a>            
              </p>
              <p>
                  Thank you for your understanding and patience
              </p>
          </h5>
      </div>
  </div>
{% endblock %}