body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.container {
    padding: 20px;
}

.star-rating {
    white-space: nowrap;
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 20px;
    height: 20px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}
.star-rating span {
    display: inline-block;                
}
.gold-star {
    color: gold !important;
}
.grey-star {
    color: #c5c5c5; 
}

.low {
    display: flex; 
    align-items: center; 
}
.low > * {
    margin-right: 30px; 
}

.footer small {
    font-size: 12px; 
}

@media (max-width: 768px) {
    .low {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .low > * {
        margin-right: 0; 
        margin-bottom: 10px; 
    }
    .star-rating {
        font-size: 10px; /* 모바일에서 별의 크기를 줄임 */
        min-width: 120px; /* 최소 너비 설정 */
    }
    .star-rating span {
        margin-right: 1px; /* 별 사이의 간격을 줄임 */
    }
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 15px;
    }
}

@media (min-width: 1025px) {
    .container {
        padding: 20px;
        max-width: 800px;
        margin: auto;
    }
}
