{% extends 'basecamp/easygo_base_error.html' %}
{% block content %}

<!-- Page wrapper-->
<main class="page-wrapper">
    <!-- Page content-->
    <div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
      <lottie-player class="d-dark-mode-none mt-n5" src="assets/json/animation-404-light.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <lottie-player class="d-none d-dark-mode-block mt-n5" src="assets/json/animation-404-dark.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <div class="text-center pt-4 mt-lg-2">
        <h1 class="display-5">Opps! Something wrong</h1>
        <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5"><span style="color: #eb7828">Please choose your future flight date</span></p>
        <a class="btn btn-lg btn-primary" href="/home/">Go to the previous page!</a>
        <br><br>
        <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">If you require transportation services today, please contact us via email at&nbsp;<a href="mailto:info@easygoshuttle.com.au">&nbsp;info@easygoshuttle.com.au</a></p>
 
      </div>
    </div>
  </main>
  
{% endblock %}
