{% extends 'basecamp/easygo_base_confirmation.html' %}
{% block content %}

<!-- Page wrapper-->
<main class="page-wrapper"><br>
    <!-- Page content-->
    <div class="container d-flex flex-column justify-content-center min-vh-100 py-5"><br>
      <lottie-player class="d-dark-mode-none mt-n5" src="assets/json/animation-404-light.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <lottie-player class="d-none d-dark-mode-block mt-n5" src="assets/json/animation-404-dark.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <div class="text-center pt-4 mt-lg-2"><br>
        <!-- <h3 class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5"><span style="font-weight:bold; color: #d69355">The date you entered for your booking may be today or in the past</span></h3> -->
        <h3 class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5"><span style="font-weight:bold; color: #d69355">Please enter the future date on the form below if the transportation service you desire is not for today</span></h3>
        <p>If you require transportation services today, please contact us via email at&nbsp;<a href="mailto:info@easygoshuttle.com.au">&nbsp;info@easygoshuttle.com.au</a></p>
        <form method="post" enctype="multipart/form-data" action="/cruise_date_detail/" class="card-body needs-validation p-5" >
          {% csrf_token %}							
          <div class="card text-white bg-secondary p-4">
          <div class="mb-3 pb-1">
            <label class="form-label" >Email address</label>
            <input class="form-control" type="email"  placeholder="your email address" name="email" required>
            <div class="invalid-feedback">Please enter the exact email address you used</div>
          </div><br><br>
          <div class="mb-3 pb-1">
            <label class="form-label" >Trip date&nbsp;(Sydney)</label>
             <input class="form-control date-picker rounded" name="flight_date" type="text" placeholder="Choose your future date" data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;m/d/Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}" required>
            <div class="invalid-feedback">Please enter your future date!</div>
          </div>			
          <hr>				           	
          <div class="text-center pt-2">					
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
          <br><br>                        
      </form>


        <!-- <a class="btn btn-lg btn-primary" href="/inquiry_error/">Go back to the form</a> -->
 
      </div>
    </div>
  </main>
{% endblock %}
