{% extends 'basecamp/easygo_base_confirmation.html' %}
{% block content %}

<!-- Page wrapper-->
<main class="page-wrapper">
  <br>
    <!-- Page content-->
    <div class="container d-flex flex-column justify-content-center min-vh-100 py-5"><br>
      <lottie-player class="d-dark-mode-none mt-n5" src="assets/json/animation-404-light.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <lottie-player class="d-none d-dark-mode-block mt-n5" src="assets/json/animation-404-dark.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <div class="text-center pt-4 mt-lg-2"><br>
        <h5 class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">
            <p style="font-weight:bold;">
                We apologize for the inconvenience, but it appears that a system error has occurred when you attempted to confirm your booking. 
                Please do not worry, as this is an issue that can occasionally happen
            </p>
            <br><br>          
            <p style="font-weight:bold;">
                To resolve this promptly, please send us an email with your booking details. 
                We will address the problem as quickly as possible and ensure your booking is confirmed. 
                You will receive a confirmation email once this is done<br><br>

                Email us at&nbsp;<a href="mailto:info@easygoshuttle.com.au">&nbsp;info@easygoshuttle.com.au</a>
            </p>
            <br><br>
            <p style="font-weight:bold;">
                Thank you for your understanding and patience
            </p>
        </h5>
        <br><br> 
      </div>
    </div>
  </main>
{% endblock %}