{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.25">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
            <p></p>
              <br>
              <br>            
            <h3 class="text-light pb-1">Thank you! </h3>            
            <p class="fs-lg text-light">You will review an email shortly</p>
            <p></p>
            <br>
            <p class="fs-lg text-light">You can check the reviews from the clients who have used our company's services </p>
            <p class="fs-lg text-light" >
              <a href="https://www.google.com/search?q=easygo+airport+transfers&sca_esv=a6c39f4d03c5324c&rlz=1C1VDKB_enAU1071AU1074&sxsrf=ADLYWIIt1l4nsQ-G1Jf6kk2iA2tTGiZeug%3A1716469952050&ei=wEBPZoixAqeK4-EP9sqD-AI&ved=0ahUKEwiIkYnu7KOGAxUnxTgGHXblAC8Q4dUDCBA&uact=5&oq=easygo+airport+transfers&gs_lp=Egxnd3Mtd2l6LXNlcnAiGGVhc3lnbyBhaXJwb3J0IHRyYW5zZmVyczIEECMYJzILEAAYgAQYhgMYigUyCxAAGIAEGIYDGIoFMgsQABiABBiGAxiKBTILEAAYgAQYhgMYigUyCxAAGIAEGIYDGIoFMggQABiABBiiBDIIEAAYgAQYogQyCBAAGIAEGKIESN0MUOkJWOkJcAF4AZABAJgB8wGgAfMBqgEDMi0xuAEDyAEA-AEBmAICoAKFAsICBxAjGLADGCfCAgoQABiwAxjWBBhHmAMAiAYBkAYJkgcFMS4wLjGgB7QH&sclient=gws-wiz-serp#lrd=0x6b12a791a1292781:0xda027b617dff54a3,1,,,," target="_blank">
                &raquo;&raquo; google reviews</a></p>
            <p class="fs-lg text-light" >
              <a href="https://s3.ap-southeast-2.amazonaws.com/easygoshuttle.com.au/easygo-vehicle-photo.webp" target="_blank">&raquo;&raquo; Standard mini bus</a></p>
            <br>          
          </div>
        </div>
      </section>      
      
				</div>

			</div>
		</div>
	</div>

{% endblock %}