{% extends 'basecamp/easygo_base_confirmation.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-80"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/sydney1.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>		  
		  <br>
		  <br/>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">              		
			  <br><br>
            <h3 class="text-light">
				We will send you an email with the availability and pricing details<br>
				Please provide your pickup time and email address below<br>
			</h3>			  
            </div>
          </div>
        </div>
      </section>
      
      <!-- Contact form + details-->
     <section class="container position-relative zindex-5 px-0 px-xl-3">
        <div class="row">
          <div class="col-lg-7 col-md-7 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-1 shadow-lg">				
              <form method="post" enctype="multipart/form-data" id="booking-form" action="/inquiry_details1/" class="card-body needs-validation p-5" >
                {% csrf_token %}
				
				<div class="mb3 pb-1" >					
					<label class="form-label"></label>									      
				</div>					
				<div class="card text-white bg-secondary p-4">
                <div class="mb-3 pb-1">
                  <label class="form-label" >Full name</label>
                  <input class="form-control" type="text"  placeholder="John Doe" name="name" required>
                  <div class="invalid-feedback">Please enter your full name!</div>				  
                </div>
                 
                <div class="mb-3 pb-1">
                  <label class="form-label" >Email address</label>
                  <input class="form-control" type="email" id="email" placeholder="j.doe@example.com" name="email" required>
                  <div class="invalid-feedback">Please enter a valid email address!</div>
                </div>
				
				<div class="mb3 pb-1" >
					<div class="mb-3 pb-1">
						<label class="form-label">Your pickup time</label>
						<input class="form-control" type="time" name="pickup_time">
					</div>
				</div></div>
				<br/>

        <input type="hidden" name="flight_date" value="{{ flight_date }}">
        <input type="hidden" name="direction" value="{{ direction }}">
        <input type="hidden" name="suburb" value="{{ suburb }}">
        <input type="hidden" name="no_of_passenger" value="{{ no_of_passenger }}">
        
				<div class="text-center pt-2">
					<button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
				</div>
				<br>		              
              </form>
            </div>
          </div>
    <div class="col-lg-4 col-md-4 offset-md-1">
		<!-- Categories Widget -->
		<div class="card my-4" id="category-card" >
			<h5 class="card-header">Reviews from our clients</h5>
			<div class="card-body" >
				<div class="row">
					<div class="col-lg-10 list-unstyled">
						<li>
						  <p><strong>You can check the 245 reviews from the clients who have used our company's services</strong></p>								  
						  {% include 'basecamp/review_link.html' %}
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</section>
	
{% endblock %}