{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.25">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>

        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
            
            <!-- 뱃지 (위에 고정) -->
            <p class="mb-0">
              <a href="/static/basecamp/images/Digital-Certificate.webp">
                <img src="/static/basecamp/images/award-badge.webp" alt="Award Badge" class="award-badge">
              </a>
            </p>

            <!-- 뱃지 아래 내용 크게 내려감 -->
            <div style="margin-top: 120px;"> <!-- 여기서 조절 -->
              <h3 class="text-light pb-1">✨ Thank you! </h3>
              <p class="fs-lg text-light">You will review an email shortly</p>

              <p class="fs-lg text-light mt-4">
                You can check the reviews from the clients who have used our company's services
              </p>

              <p class="fs-lg text-light">
                <a href="https://easygoshuttle.com.au/easygo_review/" target="_blank">🏆🏆🏆 Reviews on our website</a><br>
                <a href="https://bit.ly/3xkLEUD" target="_blank">🥇🥇🥇 Google reviews</a>
              </p>

              <p class="fs-lg text-light">
                <a href="https://s3.ap-southeast-2.amazonaws.com/easygoshuttle.com.au/easygo-vehicle-photo.webp" target="_blank">🚐 Standard mini bus</a>
              </p>
            </div>

          </div>
        </div>
      </section>



      
				</div>

			</div>
		</div>
	</div>

{% endblock %}