{% extends 'easygo_review/base_sub.html' %}

{% block content %}
<div class="col-md-12" id="main-div">
    <div class="row">

        {% for suburb, details in more_suburbs.items %}
        <div class="card card-body bg-light text-center align-items-center">           
            <div class="icon-xl mb-3">                
                    <a  href="/airport-transfers-{{ suburb|slugify }}/"><img src="/static/basecamp/images/suburbs/{{ suburb|slugify }}.webp" alt=""></a>        
            </div>
            <h6 class="mb-0"><a href="/airport-transfers-{{ suburb|slugify }}/">{{ suburb|title }}</a></h6>
        </div>
        {% endfor %} 

    </div>
</div>
{% endblock %}
