{% extends 'basecamp/easygo_base_cruise.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-50"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/cruise2.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
        <br>
		  <br>
		  <br/>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">
              <h1 class="text-light">Point to Point</h1>
              <h3 class="text-light">Complete the form to get the exact price</h3>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact form + details-->
      <section class="container position-relative zindex-5 pb-5">
        <div class="row">
          <div class="col-lg-6 col-md-7 offset-lg-1 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-0 shadow-lg">
              <form action="/inquiry_details/" method="post" id="booking-form" class="card-body needs-validation p-5" novalidate>
                {% csrf_token %}
                <div class="mb-3 pb-1">
                  <label class="form-label" >Full name</label>
                  <input class="form-control" type="text"  placeholder="John Doe" required name="name">
                  <div class="invalid-feedback">Please enter your full name!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Mobile phone number</label>
                  <input class="form-control" type="text"  placeholder="Your mobile phone number" required name="contact">
                  <div class="invalid-feedback">Please enter a valid number!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Email address</label>
                  <input class="form-control" type="email"  placeholder="j.doe@example.com" required name="email">
                  <div class="invalid-feedback">Please enter a valid email address!</div>
                </div>
                <br>
                <hr>
                <br>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Pickup date</label>
                  <input id="flight-date" class="form-control date-picker rounded" name="pickup_date" type="text" placeholder="Your booking date" data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}" required>
                  <div id="date-error" class="invalid-feedback" style="display: none;">Please enter a future date!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Pickup time</label>
                  <input class="form-control" type="time" name="pickup_time"  placeholder="Pickup time" required>
                <div class="invalid-feedback">Please enter your pickup time!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Pickup location - Start point</label>
                    <input class="form-control" type="text" name="start_point"  placeholder="From where" required>
                  <div class="invalid-feedback">Please enter your pickup location!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Drop off location - End point</label>
                  <input class="form-control" type="text" name="end_point"  placeholder="Your destination" required>
                </div>
                <br>
                <hr>
                <br>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Passengers</label>
                  <select class="form-select" name="no_of_passenger" required>
                  <option value="0">How many people?</option>
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
				  <option value="11">11</option>
				  <option value="12">12</option>
				  <option value="13">13</option>
				  <option value="-1" disabled="disabled">Over 13 (please leave message below)</option>
              </select>
                </div>
            <br><br>
				<hr>
				<br><br> 
                <!-- Regular Baggage -->
				<div class="mb-3 pb-1">
				<label class="form-label">Baggage (Regular)</label>
					<div class="row g-2">
						<div class="col">
						<label for="baggage_large" class="form-label mb-0">Large size bag</label>
						<input type="number" class="form-control" name="baggage_large" placeholder="Large" min="0" max="9" value="0">
						</div>
						<div class="col">
						<label for="baggage_medium" class="form-label mb-0">Medium size bag</label>
						<input type="number" class="form-control" name="baggage_medium" placeholder="Medium" min="0" max="9" value="0">
						</div>
						<div class="col">
						<label for="baggage_small" class="form-label mb-0">Small size bag</label>
						<input type="number" class="form-control" name="baggage_small" placeholder="Small" min="0" max="9" value="0">
						</div>
					</div>
				</div>
				<!-- Toggle Extra Luggage -->
				<div class="mb-3 pb-1">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="extraLuggageCheck" onclick="toggleExtraLuggage()">
						<label class="form-check-label" for="extraLuggageCheck">
						Any extra luggage? (ski, golf, bike etc)
						</label>
					</div>
				</div>
				<!-- Extra Luggage (hidden by default) -->
				<div id="extraLuggageFields" style="display: none;">
					<div class="row g-2 mb-3">
						<div class="col">
							<label for="baggage_ski" class="form-label mb-0">Ski bags</label>
							<input type="number" class="form-control" name="baggage_ski" placeholder="Ski bags" min="0" max="9" value="0"></div>
						<div class="col">
							<label for="baggage_snowboard" class="form-label mb-0">Snowboards</label>
							<input type="number" class="form-control" name="baggage_snowboard" placeholder="Snowboards" min="0" max="9" value="0"></div>
						<div class="col">
							<label for="baggage_golf" class="form-label mb-0">Golf bags</label>
							<input type="number" class="form-control" name="baggage_golf" placeholder="Golf bags" min="0" max="9" value="0"></div>
					</div>
					<div class="row g-2 mb-3">
						<div class="col">
							<label for="baggage_bike" class="form-label mb-0">Bike bags</label>
							<input type="number" class="form-control" name="baggage_bike" placeholder="Bike bags" min="0" max="9" value="0"></div>
						<div class="col">
							<label for="baggage_boxes" class="form-label mb-0">Cartoon Boxes</label>
							<input type="number" class="form-control" name="baggage_boxes" placeholder="Cartoon Boxes" min="0" max="9" value="0"></div>
						<div class="col">
							<label for="baggage_pram" class="form-label mb-0">Prams</label>
							<input type="number" class="form-control" name="baggage_pram" placeholder="Musical Instruments" min="0" max="9" value="0"></div>
					</div>
				</div>
				<br><br>
				<hr>
				<br><br> 
          
          <!-- Return Cruise Option -->
				  <br>
				  <div id="return-cruise-fields">
				  	<!-- Fields will be dynamically added here -->
				  </div>				
				  <label for="return-cruise">Return Trip:&nbsp;&nbsp;</label>
				  <input type="checkbox" name="return_cruise" id="return-cruise">
				  <br><br>

                <div class="mb-3 pb-1">
                  <label class="form-label" >Message</label>
                  <textarea class="form-control" name="message" id="cont-message" rows="5" placeholder="Write your message here"></textarea>
                  <div class="invalid-feedback">Please write a message!</div>
                </div>
				<br>
        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_V2_SITE_KEY }}"></div>
        <div id="errorMessage" style="display:none; color: red; margin-top: 20px;" ></div><br>
                <div class="text-center pt-2">
                  <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 offset-md-1">
            <!-- Categories Widget -->
			<div class="card my-4" id="category-card" >
				<h5 class="card-header">Reviews from our clients</h5>
				<div class="card-body" >
					<div class="row">
						<div class="col-lg-10 list-unstyled">
							<li>
							  <p><strong>You can check the reviews from the clients who have used our company's services</strong></p>								  
							  <p><a href="/easygo_review/" target="_blank">
									&raquo;&raquo;&raquo;&nbsp;&nbsp;More Reviews&nbsp;&nbsp;&laquo;&laquo;&laquo;</a></p>
							</li>
						</div>
					</div>
				</div>
			</div>
			
		  </div>
		</div>
	</section>	
{% endblock %}