<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Airport Transfers Sydney - EasyGo Shuttle bus</title>
    <meta name="google-site-verification" content="hae39L0Kv7JIxVc3YclvckH7Im5SdYa2hk_vZbGJIkA" />
    <!-- SEO Meta Tags-->
    <meta name="description" content="EasyGo airport shuttle bus provide Sydney airport transport service, private ride with the cheap price. ">
    <meta name="keywords" content="Sydney airport shuttle, Sydney airport transfers, private transfers, cheap airport transfers, maxi taxi, mini bus, uber, airport transport, airport shuttle, airport pickup service, airport private transfers, Sydney hotel transfers, airport cheapest shuttle">
    <meta name="author" content="easycoding.live">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'basecamp/favi/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'basecamp/favi/apple-touch-icon.png' %}">
    <link rel="android-chrome" type="image/png" sizes="192x192" href="{% static 'basecamp/favi/android-chrome-192x192.png' %}">
	  <link rel="android-chrome" type="image/png" sizes="512x512" href="{% static 'basecamp/favi/android-chrome-512x512.png' %}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'basecamp/favi/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'basecamp/favi/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'basecamp/favi/site.webmanifest' %}">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/flatpickr.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/theme.min.css">   
    <script src="https://js.stripe.com/v3/"></script> 
  </head>
  <body>
    <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.25">
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-80"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/page-title-bg.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
                <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
            </svg>
        </div>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
            <div class="row justify-content-center pb-7">
                <h1></h1>
            </div>
        </div>
    </section>
    <br/><br/>
    <!-- Contact form + details-->
    <section class="container position-relative zindex-5 pb-5">
        <div class="row">
            <div class="col-lg-1 col-md-2 offset-lg-1 pb-2 mb-5" style="margin-top: -260px;"></div>
            <div class="col-lg-5 col-md-4 offset-lg-1 pb-2 mb-5" style="margin-top: -260px;">
                <div class="card border-3 shadow-lg" style="padding:2rem">
                    <!-- Payment forms -->
                    <h5 class="fs-4 mb-0 text-center">PayPal Checkout</h5>
                    <br>
                    <div id="paypal-container-3XG3XKKBMWU6S"></div>
                    <hr>                    
                    <h5 class="fs-4 mb-0 text-center">Stripe Checkout</h5>
                    <br>
                    <button id="stripe-button" class="btn btn-primary btn-block">Pay with Stripe</button>
                    <br>
                    <!-- Google recaptcha  -->
                    <br>
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" style="text-align: center" ></div>	
                    <div id="errorMessage" style="display:none; color: red;" ></div>
                    <br><br>                
                </div>                
            </div>
        </div>
        <div class="col-lg-9 col-md-4 offset-lg-1 pb-2 mb-7" >
          <div style="padding:4rem">
            <h3 class="text-center mb-4">Safe Security Guaranteed</h3>
              <p class="text-center"><small><small>This site is protected by reCAPTCHA Enterprise and the Google
                        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
              </small></small>
              </p>
          </div>          
        </div>              
    </section>
    <script async src="https://www.google.com/recaptcha/api.js"></script>
    <script>    
      if(typeof grecaptcha === 'undefined') {
        grecaptcha = {};
      }
      grecaptcha.ready = function(cb){
        if(typeof grecaptcha === 'undefined') {       
          const c = '___grecaptcha_cfg';
          window[c] = window[c] || {};
          (window[c]['fns'] = window[c]['fns']||[]).push(cb);
        } else {
          cb();
        }
      }
      grecaptcha.ready(function(){
        grecaptcha.render("container", {
          sitekey: "{{ recaptcha_site_key }}"
        });
      });
    </script>

    <script>
      var stripe = Stripe('pk_live_51J29VnI9LkpP3oK9Mg0KTeQPVnEfLlt6Z1ffuAaBoxvwGHVT7o37bLZBwBo2ylAhGzum0zSmrKkGOqvoDloi1Vyf004qgRrdaF');  
      document.getElementById('stripe-button').addEventListener('click', function() {
          fetch('/create_stripe_checkout_session/', {
              method: 'POST',
          })
          .then(function(response) {
              return response.json();
          })
          .then(function(data) {
              console.log('Session ID:', data.id);
              return stripe.redirectToCheckout({ sessionId: data.id });
          })  
      });
    </script>  

    <script src="https://www.paypal.com/sdk/js?client-id=BAALE04UK8MZh6es1re686lx5-9LVea7kO4DuNt4RLdrMbYPTBIfjvUdatKRe13iPrM414kwMxkQbMJrmQ&components=hosted-buttons&disable-funding=venmo&currency=AUD"></script>    
    <script>
      paypal.HostedButtons({
        hostedButtonId: "3XG3XKKBMWU6S",
      }).render("#paypal-container-3XG3XKKBMWU6S")
    </script>   
</main>
<footer class="site-footer bg-dark pt-5 pb-4">
  <div class="container d-md-flex justify-content-between align-items-center text-center">
    <ul class="list-inline fs-sm mb-3 order-md-2">
      <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="mailto:info@easygoshuttle.com.au">Support</a></li>
      <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="mailto:info@easygoshuttle.com.au">Contact</a></li>
      <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="/privacy/">Privacy policy</a></li>
      <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="/terms/">Terms &amp; Conditions</a></li>
    </ul>
    <p class="fs-sm mb-3 order-md-1"><span class="text-light opacity-50 me-1">© 2022 EasyGo. All rights reserved. Made by</span><a class="nav-link-style nav-link-light" href="https://easycoding.live" target="_blank" rel="noopener">EasyCoding.live</a></p>
  </div>
</footer>

<!-- Vendor scrits: js libraries and plugins-->
<script src="/static/basecamp/js/bootstrap.bundle.min.js"></script>
<script src="/static/basecamp/js/simplebar.min.js"></script>
<script src="/static/basecamp/js/smooth-scroll.polyfills.min.js"></script>
<script src="/static/basecamp/js/jarallax.min.js"></script>
<script src="/static/basecamp/js/min/tiny-slider.js"></script>
<script src="/static/basecamp/js/flatpickr.min.js"></script>
<script src="/static/basecamp/js/rangePlugin.js"></script>
<script src="/static/basecamp/js/date-picker.js"></script>
<!-- Main theme script-->
<script src="/static/basecamp/js/theme.min.js"></script>
  
</body>
</html>
