{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.1">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern01.webp');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
              <p></p>
              <br>
              <h3 class="text-light pb-1">Thank you for your payment! </h3><br>          
              <p class="fs-lg text-light">Your payment has been processed successfully and we have received it</p><br>
              <p class="fs-lg">
                  <span style="color: #eb7828">
                      Please note that if your name in PayPal is different from the name we have on file for you, 
                      it may be difficult for us to identify your payment. 
                      In this case, please let us know once you've made the PayPal payment so that we can ensure proper processing of your payment.
                  </span>
              </p>        
              <p class="fs-lg text-light">
                <a href="mailto:info@easygoshuttle.com.au">
                    <i class="ai-mail fs-xl text-muted me-2 pe-1"></i>
                    &nbsp;info@easygoshuttle.com.au</a>
                </p>
              <br>
            <br>            
          </div>
        </div>
      </section>      
      
				</div>

			</div>
		</div>
	</div>

{% endblock %}