<div class="card text-white bg-secondary p-4" id="return-flight-fields" >
    <div class="mb-3 pb-1">
        <label class="form-label">Return direction<sup class="text-danger ms-1">*</sup></label>
        <select class="form-select" name="return_direction" id="return-direction" >	
            <option disabled selected value="">Select your direction...</option>				
            <option value="Drop off to Domestic Airport">Drop off to Domestic Airport</option>
            <option value="Drop off to Intl Airport">Drop off to Intl Airport</option>						
            <option value="Pickup from Domestic Airport">Pickup from Domestic Airport</option>					
            <option value="Pickup from Intl Airport">Pickup from Intl Airport</option>  
            <!-- <option value="Point to Point">Point to Point</option>               -->
        </select>
    </div><br>
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_pickup_date">Return Pickup date (ex; 07/31/2023)</label>
         <input class="form-control date-picker rounded" name="return_pickup_date" id="return-flight-date" type="date" placeholder="Your flight date" required>
         <div class="invalid-feedback">Please enter your pickup date!</div>
    </div>
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_flight_number">Return Flight number<sup class="text-danger ms-1">*</sup></label>
         <input class="form-control" type="text" placeholder="Your flight number" name="return_flight_number" id="return-flight-number">
        <div class="invalid-feedback">Please enter your flight number!</div>
     </div>
    <div class="mb-3 pb-1">
      <label class="form-label" for="return_flight_time">Return Arrival time&nbsp;(Sydney)</label>
       <input class="form-control" name="return_flight_time" id="return-flight-time" type="time">
       <div class="invalid-feedback">Please enter your flight time!</div>
    </div>
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_pickup_time">Return Pickup time</label>
        <input class="form-control" type="time" name="return_pickup_time" id="return-pickup-time" >
    </div> 
    <div class="mb-3 pb-1">
        <label class="form-label" >ReturnStart Point</label>
        <input class="form-control" type="text" name="return_start_point" >
    </div>
    <div class="mb-3 pb-1">
        <label class="form-label" >Return End Point</label>
        <input class="form-control" type="text" name="return_end_point" >
    </div>
</div>    
 