<div class="card text-white bg-secondary p-4" id="return-flight-fields" >
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_flight_date">Return Flight date (Trip date)<sup class="text-danger ms-1"></sup>&nbsp;(Sydney)</label>
         <input class="form-control date-picker rounded" required name="return_flight_date" id="return-flight-date" type="date" placeholder="Your flight date">
    </div>
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_flight_number">Flight number<sup class="text-danger ms-1">*</sup></label>
         <input class="form-control" type="text" placeholder="Your flight number" required name="return_flight_number" id="return-flight-number">
        <div class="invalid-feedback">Please enter your flight number!</div>
     </div>
    <div class="mb-3 pb-1">
      <label class="form-label" for="return_flight_time">Flight time<sup class="text-danger ms-1"></sup>&nbsp;(Sydney)</label>
       <input class="form-control" required name="return_flight_time" id="return-flight-time" type="time">
       <div class="invalid-feedback">Please enter your flight time!</div>
</div>     
 