<div class="card text-white bg-secondary p-4" id="return-flight-fields">
  <h5 class="text-dark mb-3">✈️ Return Trip Details</h5>

  <div class="mb-3 pb-1">
    <label class="form-label">Return Direction<sup class="text-danger ms-1">*</sup></label>
    <select class="form-select" name="return_direction" id="return-direction" required>
      <option disabled selected value="">Select your direction...</option>
      <option value="Drop off to Domestic Airport">Drop off to Domestic Airport</option>
      <option value="Drop off to Intl Airport">Drop off to International Airport</option>
      <option value="Pickup from Domestic Airport">Pickup from Domestic Airport</option>
      <option value="Pickup from Intl Airport">Pickup from International Airport</option>
      <option value="Cruise or Point to Point">Cruise transfers or Point to Point</option>
    </select>
    <div class="invalid-feedback">Please select your return direction!</div>
  </div>

  <div class="mb-3 pb-1">
    <label class="form-label" for="return_pickup_date">Return Pickup Date</label>
    <input class="form-control date-picker rounded" name="return_pickup_date" id="return-flight-date" type="date" autocomplete="off" novalidate>
    <div class="invalid-feedback">Please enter your pickup date!</div>
  </div>

  <div class="mb-3 pb-1">
    <label class="form-label" for="return_pickup_time">Return Pickup Time</label>
    <input class="form-control" type="time" name="return_pickup_time" id="return-pickup-time" novalidate>
  </div>

  <div class="mb-3 pb-1">
    <label class="form-label" for="return_start_point">Return Pickup Location</label>
    <input class="form-control" type="text" name="return_start_point" id="return-start-point" novalidate>

    <div class="mt-3">
      <label class="form-label" for="return_end_point">Return Drop-off Location</label>
      <input class="form-control" type="text" name="return_end_point" id="return-end-point" novalidate>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="mb-3 pb-1">
    <p class="small text-dark mb-3" style="opacity: 0.85;">
      Please provide your return flight details if applicable (not required for Cruise Transfers or Point-to-Point rides)
    </p>
    <label class="form-label" for="return_flight_number">Return Flight Number</label>
    <input class="form-control" type="text" placeholder="Your flight number" name="return_flight_number" id="return-flight-number">
    <div class="invalid-feedback">Please enter your flight number!</div>
  </div>

  <div class="mb-3 pb-1">
    <label class="form-label" for="return_flight_time">Return Flight Time</label>
    <input class="form-control" name="return_flight_time" id="return-flight-time" type="time">
  </div>
</div>
