<div class="card text-white bg-secondary p-4" id="return-cruise-fields" >    
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_cruise_date">Return Trip date (ex; 07/31/2023)</label>
         <input class="form-control date-picker rounded" required name="return_pickup_date" id="return-cruise-date" type="date" placeholder="Your trip date">
    </div>
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_pickup_time">Return Pickup time</label>
        <input class="form-control" type="time" name="return_pickup_time" id="return-pickup-time" required>
    </div> 
    <div class="mb-3 pb-1">
        <label class="form-label" for="return_flight_number">Start point & End point<sup class="text-danger ms-1">*</sup></label>
         <input class="form-control" type="text" placeholder="Start point & End point" required name="return_flight_number" id="return-cruise-number">
        <div class="invalid-feedback">Please enter start & end point!</div>
     </div>    
</div>    
 