{% extends 'basecamp/easygo_base_error.html' %}

{% block content %}
<section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1">
  <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-70"></span>
  <div class="jarallax-img" style="background-image: url('/static/basecamp/images/page-title-bg.webp');"></div>
  <div class="shape shape-bottom shape-slant bg-body">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
      <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
    </svg>
  </div>

  <div class="container position-relative zindex-5 pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center text-light">
        <h1>Sending Second Email Only</h1>
        <p class="lead">Please fill out the booking form</p>
      </div>
    </div>
  </div>
</section>

<section class="container position-relative zindex-5 px-0 px-xl-3 mt-n6">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-7 pb-5">
      <div class="card border-1 shadow-lg">
        <form method="post" enctype="multipart/form-data" action="/sending_email_second_detail/" id="booking-form" class="card-body needs-validation p-5">
          {% csrf_token %}

          <div class="card text-white bg-secondary p-4 mb-4">
            <div class="mb-3">
              <label class="form-label">Email address<sup class="text-danger ms-1">*</sup></label>
              <input class="form-control" type="email" name="email" placeholder="j.doe@example.com" required>
              <div class="invalid-feedback">Please enter a valid email address!</div>
            </div>
          </div>

          <hr class="my-4">

          <div class="text-center">
            <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
          </div>

          <div class="mt-4 text-muted small text-center">
            This form is protected by reCAPTCHA Enterprise and the Google
            <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
            <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
