{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.25">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
              <p></p>
              <br>
            <h3 class="text-light pb-1">
              I believe without a doubt that Soyoung will succeed. You will definitely achieve success. <br>
              However, I want you to always remember that the greatest success and happiness come from deeply understanding and responding to God's love. <br>
              That is the ultimate achievement, and next to it is always being grateful. <br>
              No matter the circumstances, having a content heart and being thankful is the second-best way to live.<br>
              Dad hopes and prays that Soyoung lives with these two principles<br><br><br>
              <span style="color:orange">The greastest success and happiness come from loving God</span> <br><br><br><br>
              I love you, Soyoung. <br>
            </h3>               
            <br>           
            <br>            
          </div>
        </div>
      </section>      
      
				</div>

			</div>
		</div>
	</div>

{% endblock %}