{% extends 'basecamp/base/easygo_base_error.html' %}
{% load static %}
{% block content %}
<!-- Hero-->
<section class="jarallax bg-dark py-0" data-jarallax data-speed="0.05">
    <div class="jarallax-img" style="background-image: url("{% static 'basecamp/photos/bg-pattern02.webp' %}");"></div>
        <div class="container py-4 py-sm-7 text-center">
            <div class="py-md-6">
                <br>
                <br>
                <br>
                <p class="fs-lg text-light" ><span style="color: #eb7828">The price is Around ${{ price }} for {{ no_of_passenger }} persons</span></p>
                <br>
                <p class="fs-lg text-light"><small>More accurate price &nbsp;&nbsp;</small><button id="quick-price-btn" class="btn btn-warning">&raquo;&raquo; Quick Price</button></p>
                <br/>                
                <p class="fs-lg text-light" ><span style="color: #eb7828">If it's a shared ride, save up to 20-30%</span></p>                        
                <br/>
                <p class="fs-lg text-light" >
                    <a href="https://s3.ap-southeast-2.amazonaws.com/easygoshuttle.com.au/syd5.webp" target="_blank">&raquo;&raquo; Classic mini bus</a></p><br>
                <p class="fs-lg text-light" ><a href="https://s3.ap-southeast-2.amazonaws.com/easygoshuttle.com.au/easygo-vehicle-photo.webp" target="_blank">&raquo;&raquo; Standard mini bus</a></p>                                           
                <br/>     
                
            </div>
        </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function () {
  var btn = document.getElementById('quick-price-btn');
  if (btn) {
    btn.addEventListener('click', function () {
      location.href = '/inquiry/';
    });
  }
});
</script>
{% endblock %}

