{% extends 'easygo_review/base.html' %}
{% load rating_filters %}

{% block content %}
<div class="col-md-8" id="main-div">
    <br/>
    <div class="row">
        <div class="col-md-8" id="main-div">
            <h5 id="easygo_review-list-title">
                <br/>
                Reivews 
                {% if search_info %}<small class="text-muted">: {{ search_info }} ({{ object_list.count }})</small>{% endif %}
            </h5>
        </div>
        <div class="col-md-4" id="side-div">
            <h5 id="easygo_review-list-title">
                <br/>
                {% if user.is_authenticated %}
                    <button class="btn btn-primary btn-sm float-right" onclick="location.href='/easygo_review/create/'">New Post</button>
                {% endif %}   
            </h5>
        </div>
    </div>
    <br/>

    {% if object_list.exists %}
        {% for p in object_list %}
            <!-- easygo_review Post -->
            <div class="card mb-4" id="post-card-{{ p.pk }}">
                <div class="card-header text-muted">
                    Posted by {{ p.name }} on {{ p.date }}</a>
                </div>

                <div class="card-body">
                    <h2></h2>
                    <p class="card-text">{{ p.get_markdown_content | striptags | truncatewords_html:300}}</p>

                    <br/>
                    <br/>
                    <div class="star-rating">
                        {% for star in 1|to:5 %}
                            <span class="{% if p.rating >= star %}filled{% else %}empty{% endif %}">&#9733;</span>
                        {% endfor %}
                    </div>

                    <!-- <a href="{{ p.get_absolute_url }}" class="btn btn-primary" id="read-more-post-{{ p.pk }}">Read More &rarr;</a> -->
                </div>
                <div class="card-footer text-muted">
                    You can find the original review on Google >>>&nbsp;<a href="{{ p.link }}"> here</a>.
                </div>
            </div>
        {% endfor %}

        {% if is_paginated %}
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                {% if page_obj.has_next %}
                <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                        <a class="page-link" href="#">&larr; Older</a>
                </li>
                {% endif %}

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <h3>No Post Yet </h3>
    {% endif %}
</div>
<div class="col-md-4" id="side-div">
    <br/>
    <h5><br/></h5>
    <h5><br/></h5>
    <!-- Note Widget -->
    <div class="card my-4">
        <h5 class="card-header" style="color:red">Note!</h5>
        <div class="card-body">
            <p class="card-text">
                If you want to see the original review on Google, click >>>&nbsp;<a href="{{ p.link }}"> here</a>
                <br><br> 
                The content of the reviews on this page is exactly the same as the Google reviews our clients left
            </p>
        </div> 
    </div>
    <br/>
    <!-- Search Widget -->  
    <div class="card my-4">     
        <h5 class="card-header">Search review</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="search-input" onkeyup="wait_for_enterkey()" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" onclick="search_post();">Go!</button>
                    </span>
            </div>
        </div>
    </div> 
</div>       
{% endblock %}
