{% extends 'easygo_review/base.html' %}

{% block title %} EasyGo Reviews {% endblock %}

{% block content %}
<style>
    form {
        margin-top: 40px; /* 상단 마진을 40px로 설정 */
    }
    .star {
        color: #ccc; /* 기본 별 색상을 회색으로 설정 */
        cursor: pointer;
        font-size: 20px;
    }
    .star.rated {
        color: gold; /* 선택된 별 색상을 골드로 설정 */
    }
</style>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <label for="rating">Please choose your star rating:</label>
        <div class="star-rating">
            <span class="star" onclick="setRating(1)">&#9733;</span>
            <span class="star" onclick="setRating(2)">&#9733;</span>
            <span class="star" onclick="setRating(3)">&#9733;</span>
            <span class="star" onclick="setRating(4)">&#9733;</span>
            <span class="star" onclick="setRating(5)">&#9733;</span>
        </div>
        <input type="hidden" id="rating" name="rating" required>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    
    {{ form.media }}
    
<script>
function setRating(rating) {
    const stars = document.querySelectorAll('.star-rating .star');
    stars.forEach((star, index) => {
        star.style.color = index < rating ? 'gold' : '#ccc';
    });
    document.getElementById('rating').value = rating;
}
</script>
{% endblock %}